<ul>
    <% if @products.any? %>
        <% @products.each do |product| %>
        <li>
            <%= link_to product_path(product) do %>
                <%= image_tag "/images/#{product.image1}" if product.image1.present? %>
            <% end %>
            
            <p><%= product.name %></p>
            <p>¥<%= product.price %></p>
            <%= link_to product_like_path(product) do %>
                <i class="fa <%= product.like_from?(current_user)? "fa-heart active" : "fa-heart-o" %>"></i>
            <% end %>
        </li>
        <% end %>
    <% else %>
        <p>お気に入りの商品は見つかりませんでした。</p>
    <% end %>
</ul>
