
<div>
<%= form_for @product do |f| %>

  <div>
    <div>
        <p>商品名</p>
        <%= f.text_area :name, value: @product.name %>
    </div>
    <div>
        <p>説明</p>
        <%= f.text_area :description, value: @product.description %>
    </div>
    <div>
        <p>カテゴリー</p>
    </div>
    <div>
        <p>価格</p>
        <%= f.number_field :price , value: @product.price %>
    </div>
    <!--登録画像表示-->
    <div>
        <p>画像１</p>
        <%= f.file_field :image1 %> 
    </div>
    <div>
        <p>画像２</p>
        <%= f.file_field :image2 %> 
    </div>
    <div>
        <p>画像３</p>
        <%= f.file_field :image3 %> 
    </div>
  </div>
  <div>
    <%= f.submit "送信する" %>
  </div>
<% end %>
</div>
