<!DOCTYPE html>
<html>
  <head>
    <title>Freem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>

<body>
    <header class="header">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>"><%= message %></div>
      <% end %>
      <div class="container clearfix">
        <h1 class="logo_title">Flea Market</h1>
        <form class="search_box">
          <input type="text" placeholder="キーワードから検索" name="word" value="">
          <%= link_to products_path do %>
            <i class="fab fa-sistrix"></i>
          <% end %>
        </form>
        <div class="exhibit_button">
          <%= link_to "出品する",new_path,class: "box_character" %>
        </div>
        <%= link_to products_path do %>
          <span class="icon_size"></span>
        <% end %>
      </div>
    </header>
    <main>
      <div class="container clearfix">
        <div class="yield">
          <%= yield %>
        </div>
        <nav class="extensive_search">
        <h1>詳細検索</h1>
        <%= form_tag total_path ,method: :get do %>
        <div>
            <div class="search_margin">
                <p>キーワード追加</p>
                <%= text_field nil, :word, placeholder: "例) 値下げ" %>
            </div>
            <div class="search_margin">
                <p>カテゴリー選択</p>
                <%= collection_select nil, :category_id, Category.all, :id, :name %>
            </div>
            <div class="search_margin">
                <p>価格</p>
                <%= number_field nil, :min_price , value: 100 ,class: "price_box" %>
                <p>〜</p>
                <%= number_field nil, :max_price , value: 1000 ,class: "price_box" %>
            </div>
            <div class="search_margin">
                <p>並び替え</p>
                <%= select nil, :arrangement, {"新着順" => "created_at", "価格順" => "price"} %>
                <%= select nil, :order, {"昇順" => "asc", "降順" => "desc"} %>
            </div>
            <div class="search_margin">
                <%= submit_tag "検索" %>
            </div>
        </div>
        <% end %>
        </nav>
        </div>
    </main>
    <footer>
      <div class="container clearfix">
        <ul class="clearfix">
          <li>プライバシーポリシー</li>
          <li>特定商取引に基づく表示</li>
          <li>利用規約</li>
          <li>サイトマップ</li>
        </ul>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      window.setTimeout(function() {
        $(".alert").slideUp();
      }, 3000);
    </script>
</body>
</html>
